html {
  @media (min-height: 9em) {
    scroll-padding-top: 7em;
  }
}

body {
  background-color: $light-color;
  font-family: $base-font-family;
  font-size: $small-device-fs;
  color: $font-color;
  min-height: 100vh;
  max-width: 90vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* flex-start */
  margin: 0 auto;
  padding-top: 8rem;
  /* padding: 8rem 0 7rem 0; */
}

h1, h2, h4, ul, li, p, small {
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

h1, h2, h4 {
  font-family: $system-serif;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: $h1-size;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: $h2-size;
}

h4 {
  font-size: $h4-size;
  margin-bottom: 0.5rem;
}

h4:target {
  margin-top: -10em;
  padding-top: 10em;
  display: inline-block;
}

p, small {
  text-align: left;
  line-height: 1.5;
}

p {
  margin-bottom: 1em;
}

p > a {
  padding: 0;
}

p.tag {
  margin-bottom: 0.5em;
}

li {
  list-style-type: none;
}

.pt-1em:not(:first-child) {
  padding-top: 1em;
}

.mb-1em {
  margin-bottom: 0.8em;
}

.mb-dot5em {
  margin-bottom: 0.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: $information-color;
}

a:active {
  background: $light-grey;
}

a.tag {
  padding: 0.2em 0.4em;

  &:not(:last-child) {
    margin-bottom: 0.4em;
  }

  &.border {
    border: 1px solid $information-color;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: 0.3em;
    }
  }
}

.current {
  color: $important-color;
  font-weight: bold;
}

.left {
  text-align: left;
}

/* Media Queries */
@media screen and (min-width: 641px) {
  html body {
    font-size: $medium-device-fs;
    max-width: 85vw;
    width: 85vw;
    padding-top: 9em;
  }

  ul.header--nav__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  li.header--nav__menu-item {
    font-size: 0.88rem;
  }

  li.header--nav__menu-item:not(:first-child) {
    padding-left: 1em;
  }

  .footer > div > p {
    margin-bottom: 0.5em;
  }

  p {
    font-size: 110%;
  }
}

@media screen and (min-width: 1008px) {
  html body {
    font-size: $large-device-fs;
    max-width: 80vw;
    width: 80vw;
  }

  li.header--nav__menu-item {
    font-size: 1rem;
  }

  .footer > div > p {
    margin-bottom: 1em;
  }

  p {
    font-size: 125%;
  }
}

@media screen and (min-width: 1311px) {
  html body {
    font-size: $xlarge-device-fs;
    max-width: 75vw;
    width: 75vw;
    padding-top: 9em;
  }

  li.header--nav__menu-item {
    font-size: 1.1rem;
  }
}

@media (hover: hover) {
  a {
    color: inherit;
    border-radius: $radius;
  }

  a:hover {
    background: $light-grey;
  }

  a.blog-author:hover,
  h2 > a:hover,
  h4 > a:hover {
    color: $information-color;
    background: transparent;
  }

  ul.header--nav__menu > li > a,
  ul.footer--nav__menu > li > a {
    text-decoration: none;
    padding: 0.4em 0.5em;
  }

  a.tag.border {
    border: 1px solid $default-color;
  }
}
