---
layout: default
---

<article class="article">
  <header class="article-header mb-1em">
    <h1 class="article-title">
      {{ page.title | escape }}
    </h1>
    <small class="article-meta"><b>
      {{ page.date | date: "%b %d, %Y" }} | Staff
    </b> •
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
      1 min
      {% else %}
      {{ words | divided_by:180 }} mins
      {% endif %}
      read
    </small>
  </header>

  {% if page.image-name and page.image-location %}
  <figure class="image">
    <img src="{{ page.image-location | prepend: site.baseurl }}"
         alt="{{ page.alt-text }}" class="post-img mb-dot5em">
    <figcaption class="post-caption mb-1em">{{ page.image-name }}</figcaption>
  </figure>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  <footer class="page-tag">
    <small>
      <b>Tags: </b>
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags#{{ tag }}" class="tag border">
          &num; {{ tag }}
        </a>
      {% endfor %}
    </small>
  </footer>
</article>
